.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4eeee;
  color: #0f0e0e;
  padding: 10px 20px; /* Added padding */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow */
  border-bottom:  solid rgb(206, 202, 202) 1px;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.convenelogo {
  height: 40px; /* Adjusted height */
  width: auto; /* Set width to auto for responsiveness */
  padding: 0 10px; /* Adjusted padding */
  margin-left: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; /* Removed margin-left */
}

.nav-link {
  text-decoration: none;
  color: #282121;
  font-size: 18px; /* Reduced font size */
  margin-right: 20px; /* Increased margin */
  transition: color 0.3s; /* Added transition */
}

.nav-link:hover {
  color: #007bff; /* Changed color on hover */
}
