*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
    height: 50px;
    border-radius: 6px;
    padding: 23px; 
}
    img{
        margin-left: 40px;
    }
    ul > li {
    list-style: none;
    margin-left: 20px;
    color: rgb(68, 68, 68);

}
.container > li:hover{
        cursor: pointer;
    }
.second-section{
    background-color: rgb(176, 146, 205);
    text-align: center;
    height: 300px;
    padding: 40px;
}
.second-section > h2, p,button {
    display: flex;
    margin-top: 10px;
}
.hero-button-wrapper{
    display: flex;
    margin-top: 10px;
}
.hero-button-wrapper > button {
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    background-color:aliceblue;
    border-radius: 9px;
    border: 1px solid black;
    padding: 9px;
}
.hero-button-wrapper > button:hover{
    cursor: pointer;
    background-color: rgb(173, 255, 91);
}

.third-section{
    display: block;
    margin-left: 40px;
    background-color: azure;
    text-align: center;
}
footer{
    margin-bottom: 10px;
    padding-left: 45px;
    position: fixed;
    left: 0;
    bottom :0;
    right: 0;
    color: black;
    background-color: pink;
    height: 30px;
    text-align: center;
}