.meet-up-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:rgb(74, 74, 74);
}
.meetup-card {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
  }
  
  .aside {
    margin: auto;
    width: 30%;
    background-color: rgb(74, 74, 74);
    padding: 20px;
  }
  
  .tag-section {
    margin-bottom: 20px;
  }
  
  .tag-section h3 {
    margin-bottom: 10px;
  }
  
  .tag-section ul {
    list-style: none;
    padding: 0;
  }
  
  .tag-section ul li {
    margin-bottom: 5px;
    cursor: pointer;
    color: #007bff;
  }
  
  .tag-section ul li:hover {
    text-decoration: underline;
  }
  
  